@import "bootstrap-sprockets";
@import "bootstrap";



.intro {
    background-color: #1BBC9B;
    padding: 125px 0px 75px 0;
    h1 {
      color: white;
    }
    p {
      color: white;
    }

} 

.center {
    text-align: center;
}

.brand-heading {
    font-size: 150px;
}

.intro-text {
    font-size: 24px;
}

#how-it-works  {
    padding: 75px 0;
}

#sign-up {
    padding: 75px 0;
        background-color: #f8f8f8;
    
}

.navbar {
    padding: 10px 0px 0p 0;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    li a {
        font-size: 18px;
    }
    a {
        font-size: 32px;
    }
}

body {
    color: #4D5051;
}

footer {
    padding-top: 25px;
    background-color: #f8f8f8;
}

span.green {
  background: #1BBC9B;
  border-radius: 0.8em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.5em;
  text-align: center;
  width: 2.5em; 
}

#schools {
    padding: 75px 0;
}

.col-md-3 {
    margin: 5px 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
  z-index: 1030;
}
