<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bylder</a>
    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#how-it-works">How it Works</a></li>
                <li><a href="#sign-up">Sign Up</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>


<header class="intro center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <h1 style="font-size: 56px;" class="overlay">Find & Hire Talented<br>Student Web Developers</h1><br>
                    <p style="font-size: 24px;">We Currently have <strong><em>204 Students </em></strong>and <strong><em>23 Companies </em></strong> signed up.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="how-it-works">
    <div class="container-fluid">
        <div class="center">
            <h1 style="font-size: 44px;">How it Works</h1><br><br>
            <div class="col-md-4">
                <h1><span class="green">1</span></h1>
                <p style="font-size: 25px;">Post a Job</p>
                <p style="font-size: 17px;">It's free!</p>
            </div>
            <div class="col-md-4">
                <h1><span class="green">2</span></h1>
                <p style="font-size: 25px;">Choose Amongst Candidates</p>
                <p style="font-size: 17px;">Select a student that fits your companies needs, culture, and skill level.</p>
            </div>
            <div class="col-md-4">
                <h1><span class="green">3</span></h1>
                <p style="font-size: 25px;">Hire</p>
            </div>
        </div>
    </div>
</section>

<section id="sign-up">
    <div class="container-fluid">
        <h1 style="font-size: 44px;" class="center">Sign Up for our Beta Test</h1><br><br>
        <div class="col-md-10 col-md-offset-1">
            <%= render 'form' %>
        </div>
        
</section>

<section id="schools">
    <div class="container-fluid">
        <div class="center">
            <h1 style="font-size: 44px;">Schools & Organizations</h1><br><br>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTW-QRXv-ChOqYvnwXOhxYPVRcqln3cDEvsho5Ox3Oi5fihjDylug" alt="">
                </div>
                <div class="col-md-3">
                    <img src="http://content.sportslogos.net/logos/35/882/full/3572_ucla_bruins-alternate-1973.png" alt="" width="120px" height="65px">
                </div>
                <div class="col-md-3">
                    <img src="http://www.natcom.org/uploadedImages/More_Scholarly_Resources/Doctoral_Program_Resource_Guide/USC%20Logo.jpg" alt="" width="120px" height="110px">
                </div>
                <div class="col-md-3">
                    <img src="http://startx.stanford.edu/assets/partner_logos/stanford-04a2b15fa2fe07652b5922b53e3c0073.png" alt="" width="140px" height="60px">
                </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/ef/Caltech_logo.svg/1028px-Caltech_logo.svg.png" alt="" width="120px" height="120px">
              </div>
              <div class="col-md-3">
                <img src="http://campkesem.org/wp-content/themes/kesemtheme/images/logo-cal.jpg" alt="" width="120px" height="110px">
              </div>
              <div class="col-md-3">
                <img src="http://images.collegexpress.com/wg_school/1100912_logo.jpg" alt="" width="170px" height="120px">
              </div>
              <div class="col-md-3">
                <img src="http://cdn2-b.examiner.com/sites/default/files/styles/image_content_width/hash/20/8c/208cce636b84fffa6fade96a905dfbf0.jpg?itok=6b2_8EQJ" alt="" width="140px" height="120px">
              </div>
            </div>
        </div>
    </div>
</section>


