<!-- Footer -->
	<footer>
	    <div class="container text-center">
	        <p style="font-size: 14px">Made with love in LA</p>
	        <p>Copyright &copy; Bylder 2015</p><br>
	        <p class="center"><a href="mailto:omar@bylder.net">omar@bylder.net</a>
	        <p class="center"><a href="8188072282">(818) 807-2282</a>
    </div>
	    </div>
	</footer>