<!DOCTYPE html>
<html>
	<head>
	  <title>Hire Student Software Developers</title>
	  <%= render 'layouts/meta' %>
	</head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-default">

		<%= yield %>
		
		<%= render 'layouts/footer' %>

		<%= render 'layouts/javascript' %>

	</body>
</html>
